#root {
  font-family: Roboto, sans-serif;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hidden {
  display: none;
}

.main-container {
  /* outline: 1px solid red; */
  max-height: auto;
}

/* .search-box {
  outline: 2px solid blue;
}

.summoner-info {
  outline: 2px solid pink;
} */

.search-box {
  border-radius: 60px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  margin: 0 auto;
  background-color: white;
}
.search-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
}

.region-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#na {
  border: none;
}

.label {
  color: black;
  text-align: left;
  font-weight: bold;
}

#input-field {
  border: none;
}

#summoner-display {
  min-height: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summoner-info {
  display: none;
}


.champ-stuff {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: start;
  min-width: 60vw;

}

.champ-box {
  min-width: 100%;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid yellow;
}

.champ-box img {
  max-width: 50%;
  padding-right: 1rem;
}

img {
  max-height: 100;
  max-width: 100;
  border-radius: 50%
}

.champ-img {
  border-radius: 30%;
}

#flex-container {
  min-width: 100%;
}